{% extends "base.html" %}

{% block body %}
  <div class="row">
    <div class="eight columns offset by-two">
      <h1>Bruce Collie</h1>

      <div class="about">
        <div class="profile-picture">
          <img src={% asset "images/profile.jpg" %} />
        </div>
        <h2>About Me</h2>
        <p>
          {{ about.content }}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="eight columns offset by-two">
      <div class="projects">
        <h2>Projects</h2>
        <ul>
          {% for project in projects %}
            <li>
              <div class="list-title">
                {{ project.title }}
              </div> 

              <div class="list-dates">
                {{ project.start|date("%B %Y") }} &ndash;
                {% if project.has_ended %}
                  {{ project.end|date("%B %Y") }}
                {% endif %}
              </div>

              <div class="project-links">
                {% for link in project.links %}
                  <a href="{{ link.dest }}">{{ link.title }}</a>
                {% endfor %}
              </div>

              <div class="list-about">
                {{ project.about }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="eight columns offset by-two">
      <div class="education">
        <h2>Education</h2>
        <ul>
          {% for edu in education %}
            <li>
              <div class="list-title">
                {{ edu.qualification }} {{ edu.subject }}
                {% if edu.has_ended %}
                  <span class="grade">{{ edu.grade }}</span>
                {% endif %}
              </div>

              <div>
                {{ edu.place }}
              </div>

              <div class="list-dates">
                {{ edu.start|date("%B %Y") }} &ndash; {{ edu.end|date("%B %Y") }}
                {% if not edu.has_ended %}
                  (expected)
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="eight columns offset by-two">
      <div class="employment">
        <h2>Work</h2>
        <ul>
          {% for job in employment %}
            <li>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
